.vscode
build
spkmeans
spkmeans.cpython-39-darwin.so
input.txt
*.dSYM
checked_output.txt
.pytest_cache
test.ipynb
format_txt.py
output.txt
tester.sh
testing.c
testing
test_output
testfiles
tmp
final
__pycache__